<div class="container">
  <div class="mt-5">
    <h1> <strong><%= @item.name.upcase %></strong></h1>
  </div>
  <table class="table table-sm table-bordered mt-5">
    <thead>
      <tr class="table-responsive-md text-center">
        <th class="px-3" scope="col">ID</th>
        <th class="px-3" scope="col">Name</th>
        <th class="px-3" scope="col">Position</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td class="px-3"><%= @item.id %></td>
        <td class="px-3"><%= @item.name %></td>
        <td class="px-3"><%= @item.position %></td>
      </tr>
    </tbody>
  </table>
  <div class="py-1">
    <%= button_to "Destroy this item", @item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary mt-3 rounded' %>
    <p class="py-3"><%= link_to '<< Back', items_path %></p>
  </div>
</div>
